@import '../variables';

svg {
  fill: $grey;
  width: 40px;
}

.icon-block {
  display: flex;
  align-items: center;
  width: 200px;
  cursor: pointer;

  &:hover {
    .icon-block__style {
      background-color: $gray;
      border: 2px solid $gray;
    }

    svg {
      fill: $white;
    }

    .icon-block__text {
      color: $black;
    }
  }

  &__style {
    padding: 15px;
    margin-right: 15px;

    border: 2px solid $grey;
    border-radius: 15px;
  }

  &__text {
    display: block;
    width: min-content;
    color: $grey;
    font-weight: 700;
  }

  &--active {

    &::after {
      position: relative;
      top: 76%;
      right: 75%;
      content: '';
      transform: rotate(-45deg);
      width: 20px;
      height: 20px;
      border-top: 2px solid $grey;
      border-right: 2px solid $grey;
      background-color: $white;
    }

    @media (max-width: 880px) {
      &::after {
        display: none;
      }
    }

    .icon-block__style {
      background-color: $gray;
      border: 2px solid $gray;
    }

    svg {
      fill: $white;
    }

    .icon-block__text {
      color: $black;
    }
  }
}

.pay-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  padding: 10px;

  border-radius: 10px;
  background-color: $grey;
  color: $white;

  cursor: pointer;

  &:hover {
    background-color: $gray;
  }

  svg {
    fill: white;
  }

  span {
    font-size: 11px;
  }

  p {
    padding-top: 10px;
    font-weight: 700;
  }
}