@import 'fonts';
@import 'variables';
@import 'libs/normalize';

@import 'components/all';

.page {
  height: 100%;
  max-width: 1000px;
  margin: 0 auto;

  color: $blackGray;

  &__title {
    font-family: Gilroy;
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    margin-bottom: 10px;
  }

  &__subtitle {
    text-align: center;
    font-weight: 300;
    margin-bottom: 20px;
  }

  &__handle {
    display: flex;
    width: max-content;
    margin: 0 auto;
    margin-bottom: 30px;

    text-align: center;

    border: 2px solid $blackGray;
    border-radius: 5px;

    &__text {
      padding: 10px 15px;
      font-weight: 500;
      font-size: 14px;

      cursor: pointer;

      &--active {
        background-color: $blackGray;
        color: $white;
      }
    }
  }
}

.block-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20%;
}

.block {
  &__double {
    display: flex;
    column-gap: 20px
  }
}

.card-block {
  &__view {
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.pay {
  // display: grid;
  // grid-template-columns: repeat(2, 1fr);
  // justify-content: space-between;
  display: flex;
  justify-content: space-between;
  // flex-wrap: wrap;
  padding: 10px 20px;

  border: 2px solid $grey;
  border-radius: 10px;

  @media (max-width: 767px) {
    display: grid;
  }

  &__title {
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: $mediumGray;
    margin-bottom: 5px;
  }

  &__box {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__card {
    // display: flex;
    height: 150px;
    width: 350px;
    // margin-left: auto;
    
    background-color: $grey;
  }
}